html {
    font-size: 16px;
}

#map {
    width: 100%;
    height: 33rem;
    border: 1px solid white;
}
.button {
    background-color: rgb(23, 111, 251);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin: 2rem 37rem;
    transition-duration: 0.4s;
    font-family: Lucida Sans, serif;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(3, 86, 221);
    color: white;
}