* {
    margin: 0 auto;
}

html {
        font-size: 16px;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width:100%;
    height: 100%;    
}

.header {
    height: 5rem;
    background-color: transparent;
    display: inline-block;
    width: 100%;


}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding-left: 10rem;
    overflow: hidden;
    background-color: transparent;
}

ul.topnav li {
    float: left;}

ul.topnav li a {
    display: block;
    color: #5e9aff;
    text-align: center;
    padding: 1rem 1.375rem;
    margin: 1.25rem 1.25rem;
    text-decoration: none;
    font-family: 'Arial',sans-serif;
    font-size: 1.25rem;
    transition-duration: 0.4s;
}

ul.topnav li .logo {
    padding: 0;
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #2b7bff;
    color: white;
    text-align: center;
    line-height: 4;
    font-family: 'Arial', sans-serif;
    font-size: 1.25rem;
    margin:  0.625rem 1.875rem;
    
}

ul.topnav li a:hover {
    background-color: #76a8fc;
    color: white;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 30px 0 rgba(0,0,0,0.19);
}

ul.topnav li .logo:hover {
    box-shadow: none;
}

ul.topnav li.right {
    padding-right: 5%;
    float: right;
    }
    @media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    ul.topnav {
        padding-left: 0;
    }
    ul.topnav li a{
         padding:  0.5rem 0.6875rem;
        margin:  0.625rem  0.625rem;
    }
    ul.topnav li .logo {
            margin: auto;
            float: none;
            display: block;
    }
    ul.topnav li.right {
        padding-right: 2%;
    }
}
@media screen and (min-width: 601px)
and (max-width: 1023px){
    ul.topnav {
        padding-left: 2rem;
    }
    ul.topnav li a{
         padding:  0.5rem 0.6875rem;
        margin:  0.625rem  0.625rem;
    }
    ul.topnav li .logo {
            margin: auto;
            float: none;
            display: block;
    }
    ul.topnav li.right {
        padding-right: 2%;
    }
}